<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <div class="row column">
        <hr>
    </div>
    <div class="row column">
        <p class="lead">Your Favorite Properties</p>
    </div>
    
    <div class="row small-up-1 medium-up-2 large-up-3">
        <% for (let i = 0; i < properties.length; i++){ %>
            <div class="column">
                <div class="callout">
                    <% if (properties[i].nickname != undefined) { %>
                        <p><%= properties[i].nickname %></p>
                    <% } else { %>
                        <p><%= properties[i].address %></p>
                    <% } %>
                    <p><img src="<%= properties[i].img %>" alt="Image of <%= properties[i].address %>"></a></p>
                    <p class="lead">$<%= properties[i].price %> <%= properties[i].cost_basis %></p>
                    <p class="subheader">Beds: <%= properties[i].beds %> Baths: <%= properties[i].baths %> Sqft: <%= properties[i].sqft %></p><br>
                    <button class="button" onclick="window.location.href='/vendom/<%=properties[i].id; %>/edit'">Edit</button>
                    <form action="/vendom/<%=properties[i].id; %>?_method=DELETE" method="POST">
                        <input type="submit" class="button" value="Delete">
                    </form>
                </div>
            </div>
        <% } %>
    </div>

    <div class="row column">
        <button onclick="window.location.href='/vendom/add'" class="button hollow expanded">Add a New Property</button>
    </div>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>