<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <h1>Your Favorite Properties</h1>
    <!-- Change how this loop presents information once decided on CSS framework. -->
    <ul>
        <% for (let i = 0; i < properties.length; i++){ %>
            <li>
                <a href = "/vendom/<%=properties[i].id; %>"><img src= "<%= properties[i].img %>" class = main_img></a><br>
                <% if (properties[i].nickname != undefined) { %>
                    Nickname: <%= properties[i].nickname %><br>
                <% } %>
                Address: <%= properties[i].address %><br>
                <button class = "button" onclick="window.location.href='/vendom/<%=properties[i].id; %>/edit'">Edit</button>
                <form action = "/vendom/<%=properties[i].id; %>?_method=DELETE" method="POST">
                    <input type="submit" class="button" value="Delete">
                </form>
            </li>
            <% } %>
    </ul>
    <button onclick="window.location.href='/vendom/add'">Add a New Property</button>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>