<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('./partials/head.ejs') %>
</head>
<body>
    <%- include ('./partials/header.ejs') %>
    <h1><%= property.address %> Information</h1>
    <!-- Would like to implement modal of multiple images here if possible -->
    <img src= "<%= property.img %>" class = main_img></br>
    <% if (property.nickname != undefined) { %>
        Nickname: <%= property.nickname %></br>
    <% } %>
    Listing Type: <%= property.type %></br>
    Address: <%= property.address %></br>
    Bedrooms: <%= property.beds %></br>
    Bathrooms: <%= property.baths %></br>
    Square Footage: <%= property.sqft %></br>
    Price: $<%= property.price %> <%= property.cost_basis %></br>
    Description: <%= property.description %></br>
    <button onclick="window.location.href='/vendom'">Back</button>
    <%- include ('./partials/footer.ejs') %>
</body>
</html>